.usersContener {
  margin: 50px 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.userss {
  border: 0.5px solid rgba(192, 146, 102, 0.719);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 140px;
}
.imgContener0 {
  display: inline-block;
  position: relative;
}

.img3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.5s ease;
}
.img3:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}
.userNamee {
  margin-top: 10px;
}
