.profileContainer {
  border-radius: 15px;
  margin: 5% 10%;
  position: relative;
  box-shadow: 0px 0px 28px -1px rgba(154, 172, 182, 0.51);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Arima Madurai", cursive;
}
.profileContainer > div {
  margin: 2%;
  width: 45%;
}
.profilePageImg {
  border-radius: 13px;
  width: 100%;
  height: 100%;
}
.editHover:hover {
  visibility: visible;
  opacity: 0.6;
}
.firstCont {
  position: relative;
}
.editHover {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.editeImg {
  font-size: 40px;
  font-weight: 100;
  color: black;
  position: absolute;
  top: 46%;
  left: 46%;
}
.editHover:hover {
  cursor: pointer;
}

.camICon {
  color: black;
  margin: 5px 55px 20px;
}
.updateProfileBtn {
  margin-top: 30px;
  font-size: 22px;
  border-style: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  transition: 0.5s ease;
}
.updateProfileBtn:hover {
  background-color: black;
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.box {
  border-radius: 20px;
}

.editProfile {
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  right: -10px;
}
.secondCont {
  position: relative;
  padding-top: 5%;
}

.secondCont h5 {
  font-size: 23px;
  margin-bottom: 10px;
  color: rgba(61, 61, 61, 0.904);
}
.secondCont h5 span {
  font-size: 24px;
  font-weight: 900;
  color: black;
}

.userName {
  font-size: 60px;
  margin-bottom: 3%;
  display: inline-block;
}
.activeSubscribe {
  font-weight: 500;
  background-color: rgba(136, 185, 145, 0.582);
  margin-left: 5px;
  border-radius: 5px;
  padding: 0 5px;
}

.subscribeStatus {
  display: inline-block;
}
.subscribeBtn {
  padding: 5px 5px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  transition: 0.5s ease;
  background: rgb(7, 7, 7);
  color: white;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}
.subscribeBtn:hover {
  transform: scale(1.15) perspective(1px);
  cursor: pointer;
}
.activeSubscribeP {
  display: inline-block;
}

.subscribeBtnn {
  display: block;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 10px 0 0;
  border: none;
  transition: 0.5s ease;
  background: rgb(7, 7, 7);
  color: white;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}
.cardElement {
  margin-top: 5px;
}
.subscribeBtnn:hover {
  transform: scale(1.15) perspective(1px);
  cursor: pointer;
}
.unActiveSubscribe {
  font-weight: 500;
  background-color: rgba(185, 136, 136, 0.582);
  margin-left: 5px;
  border-radius: 5px;
  padding: 0 5px;
}
.availablText {
  margin-right: 10px;
}

.deleteAccountBtn {
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 20px;
  border-style: none;
  background-color: rgba(255, 0, 0, 0);
  font-size: 25px;
  transition: 0.5s ease;
}
.deleteAccountBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.homeImage {
  width: 100px;
  height: 100px;
}
.propertiContainer {
  display: flex;
  flex-wrap: wrap;
}

.properImg {
  width: 150px;
  height: 150px;
  margin-right: 8px;
  margin-top: 7px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.properImg:hover {
  transform: scale(1.05) perspective(1px);
  cursor: pointer;
}
@media all and (max-width: 1000px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }
  .profileContainer > div {
    width: 90%;
  }
  .firstCont {
    align-items: center;
    text-align: center;
  }
  .firstCont {
    padding-top: 40px;
  }
  .editProfile {
    padding-top: 25px;
  }
  .toggleBtn {
    width: 25px;
    height: 25px;
    margin-left: 30px;
  }
}
@media all and (max-width: 650px) {
  .userName {
    font-size: 37px;
  }
  .secondCont h5 {
    font-size: 17px;
  }
  .secondCont h5 span {
    font-size: 18px;
  }
  .subscribeBtn {
    display: block;
    margin-left: 0;
  }
  #subscribeContainer {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 450px) {
  .userName {
    font-size: 30px;
  }
  .secondCont h5 {
    font-size: 13px;
  }
  .secondCont h5 span {
    font-size: 15px;
  }
  .availablText,
  .activeSubscribeP {
    font-size: 15px;
  }
  .PropertiesH4,
  .subscribeStatus {
    font-size: 18px;
  }
  .properImg {
    width: 100px;
    height: 100px;
  }
}
