.profilePageImg {
  border-radius: 10px;
  margin: 30px 0 0 13px;
  width: 50%;
}

.profileTextContener {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 50px 30px;
  /* background-color: rgba(126, 94, 93, 0.116); */
  padding: 10px 50px;
  border-radius: 10px;
}

.userName {
  font-size: 60px;
  margin-bottom: 20px;
  display: inline-block;
}
.profileTextContener h5 {
  font-size: 23px;
  margin-bottom: 10px;
  color: rgba(61, 61, 61, 0.904);
}
.profileTextContener h5 span {
  font-size: 24px;
  font-weight: 900;
  color: black;
}

.pen {
  font-size: 22px;
  margin-left: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.5s ease;
}

.pen:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}

.updateUserData input {
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.658);
  background-color: rgba(0, 0, 0, 0);
  width: 300px;
}

.modal {
  align-items: center;
  text-align: center;
}

.modelDes {
  margin-top: 30px;
  text-align: left;
  margin-left: 48px;
  font-size: 25px;
}
.submitBtn {
  margin-top: 50px;
  padding: 12px 20px;
  border-radius: 7px;
  border: none;
  transition: 0.5s ease;
  background: rgb(7, 7, 7);
  color: white;
  text-align: center;
  font-weight: bold;
}
.submitBtn:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}

.profileContainer {
  margin: 50px 150px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 28px -1px rgba(112, 103, 103, 0.51);
}

.userPropertyContener {
  position: absolute;
  left: 680px;
  right: 0px;
  top: 320px;
  font-size: 30px;
}

.propertyImgP {
  width: 120px;
  height: 120px;
  border-radius: 7%;
}
.propertyh3 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 7px;
}
.propertyImgP:hover {
  cursor: pointer;
}

.available {
  margin: 15px 0 0 35px;
  font-size: 25px;
}
.availablText {
  margin-right: 10px;
}

.payy {
  /* background-color: rgba(131, 95, 95, 0.164); */
  position: absolute;
  top: 510px;
  left: 680px;
  right: 50px;
  /* font-size: 25px; */
  padding: 10px 0px;
  border-radius: 10px;
  /* text-align: center; */
}

.subscribeBtn {
  margin-top: 10px;
  padding: 10px 13px;
  border-radius: 5px;
  border: none;
  transition: 0.5s ease;
  background: rgb(7, 7, 7);
  color: white;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}
.subscribeBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.deleteAccountBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-style: none;
  background-color: rgba(255, 0, 0, 0);
  font-size: 25px;
  transition: 0.5s ease;
}
.deleteAccountBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.subscribeStatus {
  margin-bottom: 10px;
}

.editeImg {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 40px;
  left: 23px;
  font-weight: 100;
  color: black;
  z-index: 2;
  padding: 260px 260px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.342);
}

.editeImg:hover {
  opacity: 1;
  cursor: pointer;
}

/* 
.editeImg {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 54px;
  left: 0px;
  font-weight: 100;
  color: black;
  z-index: 2;
  padding: 300px 245px;
  border-bottom-right-radius: 11%;
  background-color: rgba(128, 128, 128, 0.342);
}

.editeImg:hover {
  opacity: 1;
  cursor: pointer;
}

.lable {
  position: absolute;
}

.camICon {
  color: black;
  margin-left: 35px;
  font-size: 60px;
}

.box {
  border-radius: 10px;
}

.available {
  position: absolute;
  top: 420px;
  left: 620px;
  font-size: 25px;
}
.availablText {
  margin-right: 10px;
}

.payy {
  background-color: rgba(131, 95, 95, 0.164);
  position: absolute;
  top: 510px;
  left: 620px;
  font-size: 25px;
  padding: 10px 70px;
  border-radius: 10px;
  text-align: center;
}

.subscribeBtn {
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 7px;
  border: none;
  transition: 0.5s ease;
  background: rgb(7, 7, 7);
  color: white;
  text-align: center;
  font-weight: bold;
}
.userPropertyContener {
  position: absolute;
  left: 620px;
  top: 670px;
  font-size: 30px;
}

.propertyImgP {
  width: 200px;
  height: 200px;
  border-radius: 7%;
}
.propertyh3 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 7px;
}
.propertyImgP:hover {
  cursor: pointer;
}
.subscribeStatus {
    margin-bottom: 10px;
} */
