.tourType {
  color: gray;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 17px;
}
.tourContener {
  margin-top: 20px;
  /* margin-left: 105px; */
  margin-right: 270px;
  /* text-align: center; */
  /* align-items: center; */
}
.toggleBtnn {
  border-radius: 50px;
}
.toggleBtnn span {
  padding: 0 12.7px;
}
.days {
  margin-top: 5px;
}
.days div {
  margin-top: 10px;
}

.divBetween {
  margin-right: 26px;
  /* border-ri: 1px solid rgba(0, 0, 0, 0.425); ; */
}
.toggleBtnnn {
  border-left: 1px solid rgba(0, 0, 0, 0.425);
}
.time {
  margin-top: 12px;
}

.agentImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.tourBtn {
  border-style: none;
  background-color: rgba(233, 207, 207, 0.192);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 7px 15px;
  border-radius: 10px;
  margin-left: 50px;
  font-size: 22px;
  transition: 0.5s ease;
  margin-top: 10px;
  margin-bottom: 350px;
}

.tourBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
