.propertyy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.propertyy div {
  margin: 10px;
}

.bggg {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-color: rgb(20, 26, 34);
}

.homeHeaderText {
  /* text-align: center; */
  font-size: 90px;
  margin: 100px 700px 160px 70px;
  font-family: "Pushster", cursive;
  color: white;
}

.sortProperty {
  margin: 70px 0 0px 5px;
  width: 900px;
  height: 130px;
  color: rgb(21, 194, 237);
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 3px 81px 400px -39px rgba(173, 177, 179, 0.91);
}
.sortProperty input::-webkit-input-placeholder {
  color: rgba(80, 79, 79, 0.808);
}

/* .sortProperty div {
  margin: 0 10px 0 10px;
} */

.searchInput {
  position: absolute;
  top: 70px;
  left: 110px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.397);
}
.propertyImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.secondPage {
  display: flex;
  justify-content: center;
  margin: 30px 150px;
}

.secondPage div {
  margin: 20px;
}
.homeContener {
  /* text-align: center; */
  /* background-color: rgba(190, 156, 162, 0.055); */
}

.homeImges {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.h4Home {
  margin: 10px 0;
  font-size: 22px;
}

.thirdPage {
  margin-top: 300px;
}

.secondPageB {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 85vh;
  transform: rotate(-5deg);
}

/* Parent Container */
.content_img {
  position: relative;
  width: 430px;
  height: 430px;
  float: left;
  margin-right: 10px;
}

/* Child Text Container */
.content_img div {
  position: absolute;
  height: 414px;
  bottom: -5px;
  right: -10px;
  background: rgba(0, 0, 0, 0.801);
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 400px;
  padding: 8px 15px;
  border-radius: 10px;
  visibility: visible;
  opacity: 0.7;
}
.hoverH3 {
  margin-top: 150px;
  font-size: 35px;
  margin-bottom: 2px;
}

.priceBtn {
  margin-top: 13px;
  margin-bottom: 70px;
  border-style: none;
  border-radius: 30px;
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid rgb(255, 255, 255);
}

.spanDev span {
  margin: 10px;
}

.priceBtn:hover {
  cursor: pointer;
}

.homePageImg {
  width: 650px;
  height: 580px;
  position: absolute;
  top: 170px;
  right: 0;
  border-radius: 50px;
  box-shadow: -50px -35px 200px -18px rgba(21, 194, 237, 0.25);
  z-index: -1;
}

.homeTex {
  margin-top: 30px;
  font-size: 20px;
  margin-left: 7px;
  color: rgba(202, 199, 199, 0.575);

  font-family: "Acme", sans-serif;
}

.slider {
  position: absolute;
  top: 20px;
  left: 510px;
}

.sortByl {
  font-size: 25px;
  position: absolute;
  top: 30px;
  left: 80px;
}
.sortByP {
  font-size: 25px;
  position: absolute;
  top: 30px;
  left: 590px;
}

.newPostBtn {
  text-align: center;
}

.newPostBtn span {
  color: black;
}
