.homeContener {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin: 5% 0;
}

.homeContener > div {
  width: 44%;
}
.homeText {
  font-size: 90px;
  font-family: "Pushster", cursive;
  color: white;
  margin-top: 6%;
}

.bggg {
  width: 100%;
  height: 75%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-color: rgb(20, 26, 34);
}

.homePageImg {
  width: 100%;
  height: 133%;
  border-radius: 50px;
  box-shadow: -50px -35px 200px -18px rgba(21, 194, 237, 0.25);
}
#firstD {
  width: 51%;
}
#second {
  margin-bottom: 15%;
}
.homeTex {
  margin-top: 4%;
  font-size: 20px;
  margin-left: 1%;
  margin: 4% 1% 0;
  color: rgba(202, 199, 199, 0.575);
  font-family: "Acme", sans-serif;
}
#sortProperty {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 380px;
  left: 4.8%;
  color: rgb(21, 194, 237);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 3px 81px 400px -39px rgba(173, 177, 179, 0.91);
  font-family: "Pushster", cursive;
  width: 60%;
  padding: 1.3% 0;
}
#sortProperty > div {
  align-items: center;
  text-align: center;
}

.searchInput {
  border-style: none;
  border-radius: 3px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.397);
}
.sortByP {
  margin-bottom: 15px;
}
.sortByl {
  margin-bottom: 5px;
}
#sortProperty p {
  font-size: 23px;
}
#searchByLocationContainer {
  margin-right: 20%;
}
.sortProperty input::-webkit-input-placeholder {
  color: rgba(80, 79, 79, 0.808);
}
.sliderBox {
  width: 300px;
}
#properties {
  width: 100%;
}

.propertyy {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.propertyy div {
  margin: 10px;
}

/* Parent Container */
.content_img {
  position: relative;
  width: 430px;
  height: 430px;
  float: left;
  margin-right: 10px;
}

/* Child Text Container */
.content_img div {
  position: absolute;
  height: 414px;
  bottom: -5px;
  right: -10px;
  background: rgba(0, 0, 0, 0.801);
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  font-family: "Arima Madurai", cursive;
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 400px;
  padding: 8px 15px;
  border-radius: 10px;
  visibility: visible;
  opacity: 0.7;
}
.hoverH3 {
  margin-top: 150px;
  font-size: 35px;
  margin-bottom: 2px;
}

.priceBtn {
  margin-top: 13px;
  margin-bottom: 70px;
  border-style: none;
  border-radius: 30px;
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid rgb(255, 255, 255);
  font-family: "Arima Madurai", cursive;
}

.spanDev span {
  margin: 10px;
}

.priceBtn:hover {
  cursor: pointer;
}

.propertyImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media all and (max-width: 1200px) {
  .homeText {
    font-size: 60px;
  }
  #searchByLocationContainer {
    margin-right: 5%;
  }
}
@media all and (max-width: 550px) {
  .content_img {
    width: 300px;
    height: 300px;
  }
  .content_img:hover div {
    width: 270px;
    padding: 5px 15px;
  }
  .content_img div {
    height: 290px;
  }
  .hoverH3 {
    margin-top: 100px;
    font-size: 35px;
  }
}
@media all and (max-width: 1395px) {
  #sortProperty {
    position: static;
    width: 90%;
    border: 0.5px solid rgb(0, 0, 0);
    margin-right: 5%;
  }
}
@media all and (max-width: 750px) {
  .homeText {
    font-size: 40px;
  }

  .sliderBox {
    width: 180px;
  }
}
@media all and (max-width: 490px) {
  .homeText {
    font-size: 30px;
  }
  .homeTex {
    font-size: 14px;
  }
  #sortProperty p {
    font-size: 17px;
  }
  .searchInput {
    width: 60%;
  }
  .sliderBox {
    width: 200px;
  }
  #searchByLocationContainer {
    margin-bottom: 8%;
    margin-top: 2%;
  }
}
