* {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  font-family: "BenchNine", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.lie {
  display: inline-block;
  margin: 1% 2%;
  color: white;
  position: relative;
}
.lie:hover {
  cursor: pointer;
}
.logoUnActive {
  display: inline-block;
}
#logOut {
  display: inline-block;
  background-color: rgb(21, 194, 237);
  font-size: 25px;
  color: white;

  transition: 0.5s ease;
}
#logOut:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}
.logOutBtn {
  background-color: rgb(21, 194, 237);
  border-style: none;
  padding: 3px 3px 0 3px;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  transition: 0.5s ease;
}
.logOutBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: rgb(206, 203, 203);
  font-weight: 900;
}

#logo {
  margin-right: 24%;
  margin-top: 3rem;
  font-family: "Anton", sans-serif;
  font-size: 22px;
  margin-left: 5%;
}
#logOutLi {
  margin-left: 24%;
}
.circle {
  color: rgb(21, 194, 237);
  font-size: 10px;
  position: absolute;
  left: 44%;
  top: 100%;
}

.active {
  color: black;
  position: relative;
}
.homeActive {
  color: white;
  position: relative;
}

.lie a {
  text-decoration: none;
  font-weight: 900;
}
.unActive {
  color: rgb(206, 206, 206);
  font-weight: bold;
}

@media all and (max-width: 1200px) {
  #logo {
    display: block;
    margin: 2% 0;
  }
  .nav {
    text-align: center;
  }
  #logOutLi {
    display: block;
    margin: 0;
  }
  .logOutBtn {
    font-size: 14px;
  }
}
