* {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: rgba(0, 0, 0, 0.924);
}
.lie {
  display: inline-block;
  margin: 1% 5%;
  color: white;
}
.lie:hover {
  cursor: pointer;
}

#logOut {
  display: inline-block;
}
#logOut:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  color: white;
}

#logo {
  margin-right: 65%;
}
