.contener {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1%;
  font-family: "Arima Madurai", cursive;
}
.contener h6 {
  margin-bottom: 5%;
}
.contener h3 {
  margin-top: 5%;
}
.contener > div {
  margin: 20px;
  width: 45%;
}
.slideImg {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.moveBtn {
  border-style: none;
  background-color: rgba(0, 0, 255, 0);
  font-size: 30px;
  padding: 3px 10px;
}
.CarouselProvider {
  text-align: center;
}
#price {
  margin-bottom: 5%;
}
.likesDiv {
  margin-top: 5%;
}
.likes {
  position: absolute;
  top: -2px;
  left: 160px;
  font-size: 30px;
  transition: 0.5s ease;
}
.likes:hover {
  cursor: pointer;
  transform: scale(1.05) perspective(1px);
}
.roomP {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  margin-top: 3px;
}

.icon1 {
  position: absolute;
  top: 2px;
  font-size: 30px;
}
.icon2 {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 26px;
}
.icon3 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-size: 23px;
}

.br {
  position: relative;
  margin-top: 15px;
}

.relaDiv {
  position: relative;
  margin-bottom: 13px;
}

.sellerImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 15%;
}
.sellerInfo {
  margin-top: 1%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.sellerInfo > div {
  margin-left: 10px;
}
.contact {
  font-size: 17px;
  color: rgb(83, 82, 82);
}
.SellerName {
  margin-top: 8px;
  font-weight: 500;
}

.email {
  color: rgb(155, 37, 37);
  font-size: 24px;
  position: absolute;
  top: 42px;
  left: 145px;
}
.WhatsApp {
  color: green;
  font-size: 20px;
  position: absolute;
  top: 44px;
  left: 120px;
}
.sellerData {
  position: relative;
}
.deleteBtnContener button {
  display: block;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.959);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 1.5%;
  border-radius: 10px;
  transition: 0.5s ease;
  margin: 5% 0;
  font-family: "Arima Madurai", cursive;
  font-weight: 800;
}
.deleteBtnContener button:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.likesDiv {
  position: relative;
}

@media all and (max-width: 550px) {
  .moveBtn {
    font-size: 20px;
  }
  .roomP {
    font-size: 15px;
  }
  .WhatsApp {
    top: 70px;
    left: 0px;
  }
  .email {
    top: 68px;
    left: 25px;
  }
  .contact {
    display: inline-block;
    margin-bottom: 30px;
  }
  .contener > div {
    width: 90%;
  }
  .contener {
    justify-content: center;
  }
}

@media all and (max-width: 1200px) {
  .contener > div {
    width: 90%;
  }
  .contener {
    justify-content: center;
  }
}
