.mapIcon {
  color: rgb(212, 19, 19);
  font-size: 25px;
}

.mapppp {
  margin-top: 20px;
}
.mapContainer h3 {
  margin-bottom: 10px;
}
.mapCom button {
  margin: 10px 20px 10px 0;
  padding: 5px 5px;
  border-radius: 10px;
}

.mapCom button:hover {
  cursor: pointer;
}
